* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: brown;
    color: white;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: space-between;

}