@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
:root {
  --cor-primaria: #0B1D51;
  --cor-secundaria: #FFE3A9;
  --cor-terciaria: #AAD7D9;
  --cor-hover: #725CAD;
  --fonte-padrao: "Michroma", sans-serif;;

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-padrao);
    box-sizing: border-box;
    background: url('../img/vario1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: var(--cor-primaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#cabecalho {
    padding: 1% 4% 0% 4%;
}

.cabecalho__nav {
    width: 100%;
    display: flex;
    gap: 30px;
    
}

.cabecalho__links { 
    text-align: center;
    width: 150px;   
    padding: 12px;
    border-radius: 8px;
    font-family: var(--fonte-padrao);
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    border: 3px var(--cor-secundaria) solid;
}

.cabecalho__links:hover {
    background-color: var(--cor-hover);
}

.cabecalho__cadastrar {
    margin-left: auto;
}

.principal {
    flex-grow: 1;
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.principal_secao {
    width:500px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 30px;
}

.principal_secao_conteiner {
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: center;
   gap: 32px;
}

.container__titulo {
    display: flex;
    justify-content: center;
}

.titulo {
    padding: 16px 0;
    width: 400px;
    border-radius: 8px;
    font-size: 28px;
    font-weight: 600;
    background-color: var(--cor-primaria);
    font-family: var(--fonte-padrao);
    color: var(--cor-secundaria);
    border: 3px var(--cor-secundaria) solid;

}

.componentes {

    width: 600px;            /* largura fixa */
    border-collapse: collapse;
    table-layout: fixed;
}
.componentes__tabela__titulo {
    color: var(--cor-terciaria);
}

tr, th, td {
    fohnt-size: 20px;
    font-weight: 600px;
    padding: 6px;
    width: 150px;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    border: 3px var(--cor-secundaria) solid;

}

.imagens__tabela {
    width: 150px;
    height: 100px;
}

.tam-div-form {
    width: 200px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}

form {
    display: flex;
    background-color: var(--cor-primaria);
    border: 3px var(--cor-secundaria) solid;
}

label {
    align-self: flex-start; 
    font-size: 13px;
    font-family: var(--fonte-padrao);
    font-weight: 600;
    color: var(--cor-secundaria);
}

.campos {
    font-size: 12px;
    font-family: var(--fonte-padrao);
    font-weight: 600;
    background-color: var(--cor-primaria);
    border: 3px var(--cor-secundaria) solid;
    color: var(--cor-secundaria);
    padding: 12px; 
    width: 200px;
    border-radius: 8px;


}

.campos::placeholder {
    color: var(--cor-secundaria);
    opacity: 0.5;
}

.botao:hover {
    background-color: var(--cor-hover);
    cursor: pointer;
    
}

footer {

    display: flex;
    gap: 30px;
    padding: 2% 4%;
}

.elementos__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 8px;
    font-family: var(--fonte-padrao);
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: var(--cor-secundaria);
    border: 3px var(--cor-secundaria) solid;
}

.hover:hover {
    border: 3px var(--cor-hover) solid;
    cursor: pointer;
}